
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mainpage</title>
    <style>
        .main{
            
        }
    </style>
</head>
<body>
    <div class="top"> 
        <div class="top-main"></div>
        <div class="top-last"></div>
        <div class="top-"></div>
    </div>

    <div class="main">

    </div>

    <div class="bottom">

    </div>
</body>
</html>
